interview_assist-main/n8n.json

{
  "name": "Interview Scheduler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "schedule-interview",
        "responseMode": "responseNode"
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "schedule-interview"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "akashranga27@gmail.com"
        },
        "start": "={{$json.body.date}}T{{$json.body.start_time}}",
        "end": "={{$json.body.date}}T{{$json.body.end_time}}",
        "additionalFields": {
          "summary": "Technical Interview - {{$json.body.candidate_name}}",
          "description": "Job Role: {{$json.body.job_role}}",
          "attendees": [
            "={{$json.body.email}}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "Google Meet"
            }
          }
        }
      },
      "id": "2",
      "name": "Technical Interview",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [600, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "hangoutLink",
              "value": "={{$json.hangoutLink}}"
            }
          ]
        },
        "includeOtherFields": false
      },
      "id": "3",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [950, 300]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem"
      },
      "id": "4",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Technical Interview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Technical Interview": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}

